body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background:#ccc;
    color:#111;
    font-family: Arial;
    font-size:13px;
}
/*
    REGION : Éléments en général
    ------------------------------------------------------------------------------------------------------------------
*/
a {
    
}

p {
    
}

h1,h2,h3,h4,h5,h6 {
    
}

img {
    
}

table {
    
}

/*
    END REGION : Éléments en général
    ------------------------------------------------------------------------------------------------------------------
*/

/*
    REGION : Éléments Spécifiques
    ------------------------------------------------------------------------------------------------------------------
*/
#logo {
}

    #logo img {
    }
/*
    END REGION : Éléments Spécifiques
    ------------------------------------------------------------------------------------------------------------------
*/

/*
    REGION : Les propriétés du texte
    ------------------------------------------------------------------------------------------------------------------
*/
.bold {
    font-weight: bold
}
/*
    END REGION : Les propriétés du texte
    ------------------------------------------------------------------------------------------------------------------
*/

/*
    REGION : Les propriétés du dessin
    ------------------------------------------------------------------------------------------------------------------
*/
.border0 {
    border: 0;
}
/*
    END REGION : Les propriétés du texte
    ------------------------------------------------------------------------------------------------------------------
*/

/*
    REGION : Site Menu
    ------------------------------------------------------------------------------------------------------------------
*/
.site_menu {
    margin: 10px 15px;
    /*text-align: right;*/
}

.site_menu ul {
    display:inline-block;
    margin: 0;
}

.site_menu ul li a {
    padding: 5px;
    color: #555;
}
/*
    END REGION : Site Menu
    ------------------------------------------------------------------------------------------------------------------
*/

/*
    REGION : Page d'accueil
    ------------------------------------------------------------------------------------------------------------------
*/
#home {
    
}

#home .content{

}

#home .content > .instruction {
    
}

#home .content > .info {

}

#home .content > .info > .derins {

}
/*
    END REGION : Page d'accueil
    ------------------------------------------------------------------------------------------------------------------
*/

/*
    REGION : Footer
    ------------------------------------------------------------------------------------------------------------------
*/
footer{
    
}
#licence{
    float:left;
    margin-top:20px;
    color:#999;
    font-size:9px;
    font-style:underline;
}
/*
    END REGION : Page d'accueil
    ------------------------------------------------------------------------------------------------------------------
*/

